<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameLogo@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,144}</string>
                <key>spriteSourceSize</key>
                <string>{579,144}</string>
                <key>textureRect</key>
                <string>{{549,1},{579,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jilu_icon@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,74}</string>
                <key>spriteSourceSize</key>
                <string>{90,74}</string>
                <key>textureRect</key>
                <string>{{249,151},{90,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jingdian_btn@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,120}</string>
                <key>spriteSourceSize</key>
                <string>{322,120}</string>
                <key>textureRect</key>
                <string>{{1130,1},{322,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jixian_icon@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,120}</string>
                <key>spriteSourceSize</key>
                <string>{322,120}</string>
                <key>textureRect</key>
                <string>{{1130,123},{322,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pifu_icon@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{249,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setting_icon@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{399,1},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_feichuan@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,250}</string>
                <key>spriteSourceSize</key>
                <string>{246,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>start_ui.png</string>
            <key>size</key>
            <string>{1453,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:809cb4cace866d151ed45cd53fc2dcfc:9a2fdc4898db1be024c93a8a9e01c097:e23cfaf43541ffc3139072be2bab6219$</string>
            <key>textureFileName</key>
            <string>start_ui.png</string>
        </dict>
    </dict>
</plist>
