<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameSetting_bg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,393}</string>
                <key>spriteSourceSize</key>
                <string>{430,393}</string>
                <key>textureRect</key>
                <string>{{1,1},{430,393}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindu_bg@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,26}</string>
                <key>spriteSourceSize</key>
                <string>{298,26}</string>
                <key>textureRect</key>
                <string>{{1,396},{298,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jindu_top@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,23}</string>
                <key>spriteSourceSize</key>
                <string>{296,23}</string>
                <key>textureRect</key>
                <string>{{1,424},{296,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>notarizeBtn@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,71}</string>
                <key>spriteSourceSize</key>
                <string>{186,71}</string>
                <key>textureRect</key>
                <string>{{433,1},{186,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ylHuakuai@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{433,256},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yl_title@2x_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,31}</string>
                <key>spriteSourceSize</key>
                <string>{62,31}</string>
                <key>textureRect</key>
                <string>{{433,223},{62,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yx_title@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,32}</string>
                <key>spriteSourceSize</key>
                <string>{62,32}</string>
                <key>textureRect</key>
                <string>{{433,189},{62,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gameSettingUI.png</string>
            <key>size</key>
            <string>{505,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5aab6e49b732b6baea39226a1c4cc4be:380912bafe4628ad728b3ab26de47af1:5e883d4ad0fb48cceb43a133f0313dad$</string>
            <key>textureFileName</key>
            <string>gameSettingUI.png</string>
        </dict>
    </dict>
</plist>
