<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cxkaishi_btn@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,108}</string>
                <key>spriteSourceSize</key>
                <string>{319,108}</string>
                <key>textureRect</key>
                <string>{{1,1},{319,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fhStart_btn@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{319,108}</string>
                <key>spriteSourceSize</key>
                <string>{319,108}</string>
                <key>textureRect</key>
                <string>{{1,111},{319,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over@2x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,568}</string>
                <key>spriteSourceSize</key>
                <string>{464,568}</string>
                <key>textureRect</key>
                <string>{{1,221},{464,568}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shibaiPop.png</string>
            <key>size</key>
            <string>{466,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27c669d87bbdda1c8eacdb88ca779532:b25a31e0c2062351377da4887a37f023:0ea4db8dbc50658a9391f8a574bcd234$</string>
            <key>textureFileName</key>
            <string>shibaiPop.png</string>
        </dict>
    </dict>
</plist>
